body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

table {
    width: 100%;
    height: 80vh;
    color: white;
}

td {
    width: 25%;
    text-align: center;
    background-color: black;
    font-size: 20px;
}

td:hover {
    background-color: rgb(60, 54, 54);
    cursor: pointer;
}

#resultArea {
    height: 30vh;
    background-color: rgba(39, 33, 33, 0.523);
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 25px;
    box-sizing: border-box;
}

#result {
    background-color: darkred;
}

#result:hover {
    background-color: rgb(97, 32, 158);
}

.highlight {
    background-color: rgb(164, 5, 5);
}

#del {
    background-color: rgb(164, 5, 5);
}

#del:hover {
    background-color: rgb(60, 54, 54);
    cursor: pointer;
}